<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsVuGa0qppe-7xh8XBOEeYaLaUAQfaEVE</string>
	<key>GCM_SENDER_ID</key>
	<string>677218402440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>million.halal.mart</string>
	<key>PROJECT_ID</key>
	<string>millionmart-3d6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>millionmart-3d6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677218402440:ios:8d3f457c0664ad1be45f3d</string>
</dict>
</plist>